.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #000000bd;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.overlay.open {
  opacity: 1;
  pointer-events: all;
}
